@model IEnumerable <FoodApplication.Models.FoodOfaDay>
@{
    int userID;
    bool noFoods;
    List<FoodApplication.Models.FoodOfaDay> fod = new List<FoodApplication.Models.FoodOfaDay>();
    ViewBag.Title = "Home Page";
    try
    {
        userID = (int)(Session["UserID"]);
    }
    catch (Exception)
    {

        userID = 0;
    }
    try
    {
        noFoods = (bool)(Session["NoFoods"]);
    }
    catch (Exception)
    {
        noFoods = false;
    }
}
@if (userID == 0)
{
    Response.Redirect("http://localhost:58636/Login/Index");
}

else
{
    <div class="jumbotron">
        <div>
            @Html.ActionLink("Generate Foods", "CreateFoods", "Home")
        </div>
        @if (noFoods == false)
        {
            foreach (FoodApplication.Models.FoodOfaDay weekFood in Model)
            {
                fod.Add(weekFood);
            }
            <table id="contentTable" class="table table-striped">
                <tbody>
                    <tr>
                        @for (int i = 0; i < 7; i++)
                        {
                        <th>
                            @fod[i].Date.DayOfWeek.ToString() @fod[i].Date.ToString("dd.MM")
                        </th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 0; i < 7; i++)
                        {
                            <td>
                                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                                    <div class="card-header">@fod[i].Foods.FoodName</div>
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"> <a href=@fod[i].Foods.Recepy target="_blank">Resepti</a></p>
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        @for (int i = 7; i < 14; i++)
                        {
                            <td>
                                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                                    <div class="card-header">@fod[i].Foods.FoodName</div>
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"> <a href=@fod[i].Foods.Recepy target="_blank">Resepti</a></p>
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        @for (int i = 14; i < 21; i++)
                        {
                            <td>
                                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                                    <div class="card-header">@fod[i].Foods.FoodName</div>
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"> <a href=@fod[i].Foods.Recepy target="_blank">Resepti</a></p>
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        @for (int i = 21; i < 28; i++)
                        {
                            <td>
                                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                                    <div class="card-header">@fod[i].Foods.FoodName</div>
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-text"> <a href=@fod[i].Foods.Recepy target="_blank">Resepti</a></p>
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>

                </tbody>
            </table>
        }
        else
        {
            <p>You have not yet generated foods</p>
        }

    </div>
}